/**
 * @section WordPress Image Classes
 * Styling for the classes WordPress automatically applies to images.
 */

/**
 * Comment Avatar Styling
 * Class automatically applied to comment avatars.
 */
.avatar {
	float: left;
	margin-right: calc-em(8px);
	/*  Set $size to 2x desired size in comments.php
	 *  for crisp images on retina screens. */
	height: 3.75em;
	width: 3.75em;
}

/**
 * Image alignment
 */

.aligncenter {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    @extend .aligncenter;

    @media (min-width: $bp-small) {
        float: left;
        margin-right: calc-em(8px);
    }
}

.alignright {
    @extend .aligncenter;

    @media (min-width: $bp-small) {
        float: right;
        margin-left: calc-em(8px);
    }
}

.alignnone {
    @extend .aligncenter;

    @media (min-width: $bp-small) {
        margin-left: 0;
        margin-right: 0;
    }
}

/**
 * Image Caption Styling
 */
.wp-caption-text {
	font-size: calc-em(15px);
	font-style: italic;
	color: $color-gray-dark;
	padding-top: calc-em(8px);
	text-align: center;
}

/* Navigation Menu */
.main-navigation {
	text-align: center;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}
/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	display: inline-block !important;
	text-align: left;
	width: 100%;
}
.main-navigation ul {
	margin: 0;
	text-indent: 0;
}
.main-navigation li a,
.main-navigation li {
	display: inline-block;
	text-decoration: none;
}
.main-navigation li a {
	border-bottom: 0;
	color: #6a6a6a;
	line-height: 3.692307692;
	text-transform: uppercase;
	white-space: nowrap;
}
.main-navigation li a:hover {
	color: #000;
}
.main-navigation li {
	margin: 0 40px 0 0;
	margin: 0 2.857142857rem 0 0;
	position: relative;
}
.main-navigation li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 1;
}
.main-navigation li ul ul {
	top: 0;
	left: 100%;
}
.main-navigation ul li:hover > ul {
	border-left: 0;
	display: block;
}
.main-navigation li ul li a {
	background: #efefef;
	border-bottom: 1px solid #ededed;
	display: block;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	padding: 8px 10px;
	padding: 0.571428571rem 0.714285714rem;
	width: 180px;
	width: 12.85714286rem;
	white-space: normal;
}
.main-navigation li ul li a:hover {
	background: #e3e3e3;
	color: #444;
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	color: #636363;
	font-weight: bold;
}
.menu-toggle {
	display: none;
}
}
